<%= form_with model: @book do |f| %>
<!--ユーザー情報-->
  <h2>User info</h2>
  <!--プロフィール画像を表示-->
  <!--image_tag @user.get_profile_image(100,100) -->
  <table>
    <tr>
      <th>name</th>
      <!--名前を表示-->
      <th><%= current_user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= current_user.introduction %></th>
    </tr>
  </table>

<!--新規投稿フォーム-->
  <h2>New book</h2>

  <label for = "book_title">Title</label><br />
  <%= f.text_field :title %><br />
  <label for = "book_opinion">Opinion</label><br />
  <%= f.text_area :body %><br />

  <%=f.submit 'Create Book' %>
<% end %>